<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcapital.call_library">

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Intent filters, meta-data, etc. if needed -->
        </activity>
    </application>

</manifest>